{% extends 'base.html' %}
{% load staticfiles %}
{% block contact %}
    <div class="sub-page">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand page-scroll" href="index.html">JUSTICE</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a class="page-scroll" href="index.html">Home</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="archive.html">Blog</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="single.html">About</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="contact.html">Contact</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
        <!-- Background Gradients-->
        <div class="site-gradients">
            <div class="site-gradients-media">
                <figure>
                    <img src="{% static 'images/banner2.jpg' %}">
                </figure>
            </div>
        </div>

        <header class="container">
            <div class="site-branding">
                <h1 class="site-title">
                    <a href="index.html">
                        <span>Justice</span>
                    </a>
                </h1>
                <h2 class="site-description">Welcome to Us !</h2>
            </div>
            <div class="social-links">
                <ul class="list-inline">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
                    <li><a href="#"><i class="fa fa-rss"></i></a></li>
                </ul>
            </div>
        </header>


        <!-- Content -->
        <div id="page-content" class="single-page">
            <div class="container">
                <div class="row">
                    <div id="main-content">
                        <article>
                            <div class="art-content">
                                <div class="row">
                                    <div class="col-md-4 box-item">
                                        <h3>Contact Info</h3>
                                        <span>SED UT PERSPICIATIS UNDE OMNIS ISTE NATUS ERROR SIT VOLUPTATEM ACCUSANTIUM DOLOREMQUE LAUDANTIUM, TOTAM REM APERIAM.</span><br>
                                        <br>
                                        <p>JL.Kemacetan timur no.23. block.Q3<br> Jakarta-Indonesia
                                        </p>
                                        <p>+6221 888 888 90 <br> +6221 888 88891</p>
                                        <p>info@yourdomain.com</p>
                                    </div>
                                    <div class="col-md-8">
                                        <h3>Contact Form</h3>
                                        <form name="form1" method="post" action="#">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control input-lg" name="name"
                                                               id="name" placeholder="Enter name" required="required"/>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <input type="email" class="form-control input-lg" name="email"
                                                               id="email" placeholder="Enter email"
                                                               required="required"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control input-lg" name="subject"
                                                               id="subject" placeholder="Subject" required="required"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <textarea name="message" id="message" class="form-control"
                                                                  rows="4" cols="25" required="required"
                                                                  placeholder="Message"
                                                                  style="height: 190px;"></textarea>
                                                    </div>
                                                    <button type="submit" class="btn btn-skin btn-block"
                                                            name="submitcontact" id="submitcontact">Submit
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}